body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: rgb(44, 141, 148);
    margin: 0;
    padding: 0;
    font-size: x-large;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:  Helvetica;
    color: rgb(59, 59, 5);
    font-size: xx-large;
  }
  
  header,footer,main {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  img {
    width: 100%;
  }
  
  nav ul ,footer li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  
  nav ul li {
    flex: 1;
    text-align: center;
    
  }
  
  nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem;
   font-size: x-large;
    color: rgb(240, 181, 99);
  
    
    
  }
  nav ul li a:hover {            
  background-color:rgb(137, 82, 203);
  padding-top: 50px;
  font-size: xx-large;
  color: beige;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
  }
  
  form textarea {
    min-height: 150px;
    max-height: 150px;
    height: 150px;
    resize: none;
  }
  
  form button {
    background: none;
    border: 2px solid black;
    padding: 1rem;
    text-transform: uppercase;
    background-color: antiquewhite;
    
  }
  form button:hover{
    padding-right: 20%;
    padding-bottom: 5%;
    font-size: xx-large;
    background-color:darksalmon;
  }
  
  footer {
    padding: 2rem 0;
  }
  footer a{
    text-decoration: none;
    display: flex;
    color: rgb(63, 48, 31);
    
  }
  footer a:hover{
    background-color:rgb(65, 40, 50);
    padding-top: 50px;
    font-size: xx-large;
    color: beige;
    
  }
   
    
  
  
